.about{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 5%;
    background-color: var(--background_grey05);
}

.about h1{
    text-align: center;
}

.about p{
    font-size: 16px;
    line-height: 19px;
    text-align: justify;
}


@media screen and (min-width: 768px){
    .about{
        gap: 40px;
        padding: 4%;
    }

    .about h1{
        font-size: 25px;
        line-height: 28px;
    }
}

@media screen and (min-width: 1024px){
    .about{
        gap: 50px;
        padding: 4% 10%;;
    }

    .about h1{
        font-size: 28px;
        line-height: 30px;
    }

    .about p{
        font-size: 18px;
        line-height: 20px;
    }
}