header{
    display: flex;
    padding: 4% 5%;
    justify-content: space-between;
    align-items: center;
    background-color: var(--colour_white);
}

.header__box{
    align-items: center;
    width: 30%;
}

.header__logo{
    width: 100%;
}

header button{
    background-color: var(--colour_white);
    color: var(--colour_blue100);
}

.header__button__login{
    padding: 3% 13%;
}

.header__button__admin{
    padding: 3% 4%;
}

.header__search{
    display: none;
}

.header__search__img--movil{
    width: 24px;
    height: 24px;
}

.header__search__img--movil path{
    fill: var(--colour_grey100);
}


@media screen and (min-width: 768px) {
    header{
        padding: 3% 4%;
    }

    .header__box{
        display: flex;
        justify-content: space-between;
        width: 65%;
    }

    .header__box a{
        width: 28%;
        align-self: center;
        
    }

    .header__search{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 60%;
        padding: 1.5% 2%;
        border-radius: 25px;
        background-color: var(--background_grey05);
    }
    
    .header__search input{
        background-color: var(--background_grey05);
        width: 90%;
        border: none;
        font-size: 14px;
        line-height: 16px;
        font-weight: 400;
        padding: 2%;
        color: var(--colour__grey50);
    }

    .header__search button{
        border: none;
        background-color: transparent;
        padding: 0;
    }
    
    .header__search__img{
        width: 24px;
        height: 24px;
    }
    
    .header__search__img path{
        fill: var(--colour__grey50);
    }

    .header__button__login{
        padding: 1.5% 8%;
    }
    
    .header__button__admin{
        padding: 1.5% 2%;
    }

    .header__search__img--movil{
        display: none;
    }
}

@media screen and (min-width: 1024px) {
    header{
        padding: 2.5% 10%;
    }

    .header__box{
        width: 55%;
    }

    .header__search{
        width: 65%;
    }
}