main{
    background-color: var(--background_grey05);
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 25% 15%;
}

main h2{
    font-weight: 700;
    text-align: center;
}

main form{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

main button{
    align-self: center;
    background-color: var(--colour_blue100);
    color: var(--colour_white);
    padding: 3% 10%;
}


@media screen and (min-width: 768px) {
    main{
        gap: 25px;
        padding: 8% 30%;
    }
}

@media screen and (min-width: 1024px) {
    main{
        gap: 30px;
    }

    main form{
        gap: 25px;
    }
    
    main button{
        align-self: initial;
    }     
}